ul,li,dl,dd,dt{list-style:none;}
*{margin:0;padding:0;font-family:"微软雅黑";}
img{border:0;display:block;}
html, body {
    color: #666;
    background: #f3f3f3;
    font-family: "Microsoft YaHei UI", "Microsoft YaHei UI Light", "微软雅黑", "宋体", Helvetica-Black-SemiBold, Tahoma, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
}
.top {
    background-color: #333333;
    padding: 2px 0;
    color: #dbdbdb;
    height: 29px;
}
.wrap_1200 {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.login_box a {
    color: #e5004a;
}
.top_nav{
    width:450px;
    height: 25px;
    float: right;
}
.li_box{
    width:85px;
    height: 25px;
    float: left;
}
.li_box a{
    color: #fff;
}
.top_nav_menu {
    display: block;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    position: relative;
    text-align: center;
    background: #333;
    z-index: 100;
    min-width: 80px;
    height: 25px;
}
.li_box {
    float: left;
    min-width: 80px;
    text-align: center;
    position: relative;
    z-index: 10000;
}
.li_box a span {
    background-position: -14px 0;
    width: 7px;
    height: 6px;
    display: inline-block;
    margin-left: 6px;
    margin-top: -10px;
}
.user_con {
    position: absolute;
    top: 25px;
    background-color: #333;
    z-index: 2;
    padding: 10px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    display: none;
    left: 0px;
}
.user_con ul li {
    width: 60px;
    margin: 5px 0px;
}
.user_con {
    position: absolute;
    top: 25px;
    background-color: #333;
    z-index: 2;
    padding: 10px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    display: none;
    left: 0px;
}

.midlle {
    padding: 35px 0 18px;
    background-color: white;
}
element.style {
    width: 64px;
    height: 56px;
    float: left;
}
.search_box {
    margin: 0px 130px 0px 50px;
    width: 580px;
    position: relative;
    z-index: 9000;
}
.search_icon {
    background-position: 7px -10px;
    height: 40px;
    width: 31px;
    background-color: #e5004a;
}
#search_text {
    border: 4px solid #e5004a;
    height: 30px;
    width: 413px;
    font-size: 14px;
    line-height: 30px;
    font-weight: bold;
    padding: 1px 14px;
    outline: medium;
}

.suggest_box {
    position: absolute;
    width: 445px;
    top: 40px;
    left: 35px;
    background-color: #FFF;
}
.bigautocomplete-layout {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #BCBCBC;
    z-index: 100;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}
#search_btn {
    background-color: #e5004a;
    font-size: 16px;
    color: #FFF;
    border: 0;
    height: 40px;
    width: 99px;
    line-height: 32px;
    cursor: pointer;
}
.hot_search {
    margin-top: 6px;
    height: 24px;
    width: 580px;
    overflow: hidden;
    white-space: nowrap;
}
.hot_search ul li {
    float: left;
    margin: 0px 10px;
    display: inline;
}
a {
    text-decoration: none;
}
.cart_box_small {
    font-size: 14px;
    color: #FFF;
    background-color: #e5004a;
    max-width: 145px;
    position: relative;
    z-index: 9000;
}
.cart_small {
    display: block;
    height: 34px;
    border: 3px solid #e5004a;
    overflow: hidden;
}
.cart_small b {
    float: left;
    display: block;
    height: 24px;
    width: 24px;
    background-position: 0px -51px;
    margin: 4px 16px 0 6px;
}
.cart_small span {
    color: #FFF;
    font-size: 14px;
    line-height: 32px;
    width: 3em;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 6px solid #FFF;
    border-bottom: 4px solid transparent;
    display: inline;
    margin-left: 9px;
    position: relative;
    top: 12px;
}


.cart_no {
    display: block;
    background: #FFF;
    color: #e5004a;
    padding: 6px;
    font-size: 12px;
    line-height: 21px;
    font-style: normal;
    text-align: center;
    min-width: 24px;
}
.clear {
    _zoom: 1;
    clear: both;
}
.headNav {
    height: 38px;
    border-bottom: 2px solid #e5004a;
    background: #fff;
}
.navCon {
    height: 38px;
    position: relative;
    z-index: 8000;
    background-color: #fff;
}
.navCon-cate {
    width: 210px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    background-color: #e5004a;
    position: relative;
}
.midlle{
    height: 70px;
}
.navCon-cate-title {
    background-position: 213px -108px;
    padding-left: 15px;
}
.navCon-cate {
    width: 210px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    background-color: #e5004a;
    position: relative;
}
.navCon-cate-title a {
    color: #ffffff;
}
.cateMenu {
    position: absolute;
    left: 0px;
    cursor: pointer;
    border: 2px solid #e5004a;
    border-right: none;
    background: url(../Img/cate_menu_bottom.jpg) #e5004a no-repeat center bottom;
    padding-bottom: 35px;
    height: 410px;
}
.navCon-menu ul {
    padding-left: 15px;
    width: 986px;
    height: 38px;
    margin-top: 0px;
}
.navCon-menu {
    width: 986px;
    height: 38px;
}
.navCon-menu  li {
    float: left;
    height: 38px;
    text-align: center;
}
.navCon-menu li a {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-decoration: none;
    padding: 0px 30px;
}
.warp_1200 {
    margin: 0 auto;
}
.breadcrumbs {
    padding: 16px 10px;
    height: 24px;
}
.main_left {
    width: 205px;
    float: left;
}
.main_left .category {
    width: 165px;
    padding: 10px 20px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.main_left .category_name {
    border-bottom: 3px solid #e5e5e5;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
.main_left .category_name span {
    display: inline-block;
    border-bottom: 3px solid #e5004b;
    margin-bottom: -3px;
}
.main_left .category {
    padding: 10px 20px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.category_list ul{
    padding: 0;
    margin:0;
}
.main_left .category_list li {
    padding: 8px 0;
    border-bottom: 1px solid #e5e5e5;
}
.main_right {
    width: 985px;
    float: left;
    margin-left: 10px;
}
.choose_box{
    width:985px;
    height:50px;
}
.choose_box_top {
    background-color: #FFFFFF;
    padding: 6px;
    border: none;
}
.selected_libox {
    width:985px;
    height:8px;
    padding: 4px 0;
}
.selected_libox .choose_label {
    color: #e5004b;
    font-size: 12px;
    background: none;
    line-height: 30px;
}
.selected_tagbox {
    padding-left: 20px;
}
.choose_ulbox{
    height: 30px;
    line-height: 30px;
}
.choose_label {
    color: #333333;
    font-weight: bold;
    text-align: right;
    margin-left: 10px;
    line-height: 30px;
    padding-right: 18px;
    white-space: nowrap;
   // background-position: 90px -128px;
}
.choose_tagbox {
    width: 820px;
    padding-left: 20px;
    overflow: hidden;
    float: left;
}
.choose_box_bottom {
    background-color: #FFFFFF;
    padding: 6px;
    margin: 3px 0 0 0;
    border: none;
}
.choose_title{
    width:40px;
    height: 24px;
    font-size: 12px;
}
.choose_box_bottom .choose_title {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px;
    float: left;
}
.choose_item {
    display: inline-block;
    width: 200px;
    float: left;
}
.choose_b_btn {
    margin: 0 8px;
    background-color: #FFF;
    padding: 0 5px;
    border: none;
    text-align: center;
}
.fr {
    float: right;
}
.nav_right {
    width:34px;
    background: #e5004b;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}
.nav_right ul {
    width: 100%;
    margin-top: 100px;
}
.nav_right ul li {
    position: relative;
    display: block;
    margin: 10px 0;
    z-index: 999;
}
.nav_right ul li i {
    display: block;
    color: #FFFFFF;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
}
.nav_right ul li span {
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 15px;
    height: 34px;
    line-height: 34px;
    display: block;
    color: #FFFFFF;
    background: #9381f4;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
    transition: left 0.5s;
    -moz-transition: left 0.5s;
    -webkit-transition: left 0.5s;
    -o-transition: left 0.5s;
}
.nav_right ul li:last-of-type {
    position: fixed;
    bottom: 20px;
}
#footer {
    border-top: 10px solid #e5004b;
    height: 411px;
}
.supuy_cultrue {
    background: #e5004b;
    padding: 20px 0px;
    height: 50px;
}
.cultrue_img {
    width: 165px;
    margin-right: 60px;
    margin-left: 70px;
    float: left;
}
#footer {
    border-top: 10px solid #e5004b;
}
.footer_nav {
    border-bottom: 1px solid #444;
    background: #333333;
    height: 162px;
}
.footer_nav .wrap_1200 {
    width: 1200px;
    margin: 0 auto;
    height: 161px;
}
.footer_nav_ul {
    border-right: 1px solid #444;
    width: 170px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.supuy_info_box {
    text-align: center;
    padding-bottom: 10px;
    background: #333333;
}
.supuy_info {
    width: 280px;
    margin: 0 auto;
    padding: 10px 0px;
}
.supuy_info ul li {
    float: left;
}
.supuy_info ul li a {
    border-right: 1px solid #444;
    padding: 0px 10px;
}
.supuy_info_box{
    height: 149px;
}
